<div class="contianer input-box">
  <div class="row">
      <div class="col-md-2 col-md-offset-2 col-xs-10 col-xs-offset-1 col-sm-10 offset-sm-1 box-header">
          <span>
              タイトル
          </span>
      </div>
      <div class="col-md-6 col-md-offset-0 col-xs-10 col-xs-offset-1 col-sm-10 offset-sm-1">
          <input type="text" class="form-control" [(ngModel)]="searchModel.title" name="title">
      </div>
  </div>
  <div class="row">
      <div class="col-md-2 col-md-offset-2 col-xs-10 col-xs-offset-1 col-sm-10 offset-sm-1 box-header">
          <span>
              著者
          </span>
      </div>
      <div class="col-md-6 col-md-offset-0 col-xs-10 col-xs-offset-1 col-sm-10 offset-sm-1">
          <input type="text" class="form-control" [(ngModel)]="searchModel.author" name="author">
      </div>
  </div>
  <div class="row">
      <div class="col-md-2 col-md-offset-2 col-xs-10 col-xs-offset-1 col-sm-10 offset-sm-1 box-header">
          <span>
              出版社
          </span>
      </div>
      <div class="col-md-6 col-md-offset-0 col-xs-10 col-xs-offset-1 col-sm-10 offset-sm-1">
          <input type="text" class="form-control" [(ngModel)]="searchModel.publisher" name="publisher">
      </div>
  </div>
  <div class="row">
        <div class="col-md-2 col-md-offset-2 col-xs-10 col-xs-offset-1 col-sm-10 offset-sm-1 box-header">
            <span>
                &nbsp;
            </span>
        </div>
        <div class="col-md-6 col-md-offset-0 col-xs-10 col-xs-offset-1 col-sm-10 offset-sm-1">
            <div class="form-check">
                <input id="onlyFlag" type="checkbox" class="form-check-input" [(ngModel)]="searchModel.onlyMineDep">
                <label for="onlyFlag" class="form-check-label">自部門の書籍に限定</label>
            </div>
        </div>
  </div>
  <div class="row">
      <div class="col-md-2 col-md-offset-8 col-xs-10 col-xs-offset-1 col-sm-10 offset-sm-1">
          <input type="submit" class="btn btn-fill btn-primary" value="検索" (click)="search()">
      </div>
  </div>
</div>