<div class="spacer"></div>
    <div class="contianer">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 text-center page-title">
                <h1>書籍情報</h1>
            </div>
        </div>
    </div>
    <div class="spacer"></div>

    <div class="contianer input-box card">
        <div class="row">
            <div class="col-md-2 col-md-offset-2 box-header">
                <span>
                    書籍ID
                </span>
            </div>
            <div class="col-md-6">
                <span>{{id}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-2 box-header">
                <span>
                    タイトル
                </span>
            </div>
            <div class="col-md-6">
                <span>{{model.title}}</span>
            </div>
        </div>
        <!-- 問２：詳細画面の実装 -->
    </div>

    <div class="spacer"></div>

    <div class="container">
        <div class="row">
            <div class="col-md-2 col-md-offset-1 col-sm-3 offset-sm-1">
                <button class="btn btn-fill btn-default" [routerLink]="['/list']">戻る</button>
            </div>
            <div class="col-md-2 col-md-offset-4 col-sm-3 offset-sm-2">
                <button class="btn btn-fill btn-danger" (click)="remove()">削除</button>
            </div>
            <div class="col-md-2 col-md-offset-1 col-sm-3 offset-sm-0">
                <button class="btn btn-fill btn-primary" [routerLink]="['/edit', id]">更新</button>
            </div>
        </div>
    </div>