<div class="spacer"></div>
<div class="contianer">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 text-center page-title">
            <h1>書籍情報更新</h1>
        </div>
    </div>
</div>
<div class="spacer"></div>
<form #bookForm="ngForm" (submit)="register()">
    <!-- 問３：編集画面の実装 -->
    <!-- <div class="contianer input-box">
        <div class="row">
            <div class="col-md-2 col-md-offset-2 col-xs-offset-1 box-header">
                <span>
                    書籍ID
                </span>
            </div>
            <div class="col-md-6 col-xs-offset-1">
                <span>{{id}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-2 col-xs-offset-1 box-header">
                <span>
                    タイトル
                </span>
            </div>
            <div class="col-md-6 col-xs-offset-1">
                <input name="title" type="text" class="form-control" [(ngModel)]="model.title" #title="ngModel" required maxlength="20">
                <div *ngIf="title.invalid && (title.dirty || title.touched || submitted)" class="danger">
                    <div *ngIf="title.errors.required">タイトルは必須です。</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-2 col-xs-offset-1 box-header">
                <span>
                    著者
                </span>
            </div>
            <div class="col-md-6 col-xs-offset-1">
                <input name="author" type="text" class="form-control" [(ngModel)]="model.author" #author="ngModel" required maxlength="20">
                <div *ngIf="author.invalid && (author.dirty || author.touched || submitted)" class="danger">
                    <div *ngIf="author.errors.required">著者は必須です。</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-2 col-xs-offset-1 box-header">
                <span>
                    出版社
                </span>
            </div>
            <div class="col-md-6 col-xs-offset-1">
                <div class=" select">
                    <select name="publisher" id="" [(ngModel)]="model.publisher">
                        <option *ngFor="let p of publishers" value="{{p.id}}">{{p.label}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-2 col-xs-offset-1 box-header">
                <span>
                    価格
                </span>
            </div>
            <div class="col-md-6 col-xs-offset-1">
                <input name="price" type="text" class="form-control" [(ngModel)]="model.price" required #price="ngModel" required pattern="[1-9][0-9]+">
                <div *ngIf="price.invalid && (price.dirty || price.touched || submitted)" class="danger">
                    <div *ngIf="price.errors.required">価格は必須です。</div>
                    <div *ngIf="price.errors.pattern">価格は数字を入力してください。</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-2 col-xs-offset-1 box-header">
                <span>
                    購入日
                </span>
            </div>
            <div class="col-md-6 col-xs-offset-1">
                <input name="purchased" type="text" class="form-control" [(ngModel)]="model.purchased" required #purchased="ngModel" required
                    pattern="^(\d{4})\/(0[1-9]|1[0-2])\/(0[1-9]|[12][0-9]|3[01])$">
                <div *ngIf="purchased.invalid && (purchased.dirty || purchased.touched || submitted)" class="danger">
                    <div *ngIf="purchased.errors.required">購入日は必須です。</div>
                    <div *ngIf="purchased.errors.pattern">購入日はyyyy/MM/ddの形式で入力してください。</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-2 col-xs-offset-1 box-header">
                <span>
                    書籍管理部門
                </span>
            </div>
            <div class="col-md-6 col-xs-offset-1">
                <div class="select">
                    <select name="managedDpt" [(ngModel)]="model.managedDpt">
                        <option *ngFor="let d of departments" value="{{d.id}}">{{d.label}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-2 col-xs-offset-1 box-header">
                <span>
                    更新日
                </span>
            </div>
            <div class="col-md-6 col-xs-offset-1">
                <span>{{today}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-2 col-xs-offset-1 box-header">
                <span>
                    更新者
                </span>
            </div>
            <div class="col-md-6 col-xs-offset-1">
                <span>{{model.updator}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-2 col-xs-offset-1 box-header">
                <span>
                    更新者部署
                </span>
            </div>
            <div class="col-md-6 col-xs-offset-1">
                <span>{{updatorDepartment}}</span>
            </div>
        </div>
    </div>

    <div class="spacer"></div>

    <div class="container">
        <div class="row">
            <div class="col-md-2 col-md-offset-1 col-sm-4 offset-sm-1">
                <a class="btn btn-fill btn-default" [routerLink]="['/list']">戻る</a>
            </div>
            <div class="col-md-2 col-md-offset-6 col-sm-4 offset-sm-2">
                <button mdButton type="submit" class="btn btn-fill btn-primary">登録</button>
            </div>
        </div>
    </div> -->
</form>